name: Add numbers user inputs

on: [push]

jobs:
  add_numbers:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2

      - name: Run Python script
        run: |
          python simple12.py

      - name: Display output
        run: |
          cat output.txt # replace with the name of your output file if applicable
