name: Python to Executable

on: [push]

jobs:
  build:
    runs-on: self-hosted

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Install PyInstaller
      run: python -m pip install pyinstaller

    - name: Build executable
      run: pyinstaller --onefile simple.py

    - name: Create directory for executable
      run: mkdir Destinationforexe

    - name: Copy executable to directory
      run: cp ./dist/simple.exe Destinationforexe/

    - name: Commit changes
      run: |
        git config --global user.name "Pranavm29"
        git config --global user.email "pranavmali32@gmail.com"
        git add Destinationforexe/
        git commit -m "Add executable"
        git push
